# Virtual environments
.venv/
myenv/

# Python cache
__pycache__/
*.pyc

# SQLite database
vet.db

# VS Code settings
.vscode/

# OS files
Thumbs.db
.DS_Store

# Environment variables
.env

# UV lock file
uv.lock

# VS Code settings
.vscode/